<div class="container">
    <h1>Instagram</h1>
    <div class="nav">
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Inicio</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Busqueda</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Explorar</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Reels</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Mensajes</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Notificaciones</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Crear</h3></a></ul>
        <ul><a href=""><div class="icon"><img src="" alt="icon"></div><h3>Perfil</h3></a></ul>
    </div>
    <div class="showMore">
        <a href="">
            <div class="btn">
                    <span></span>
                    <span></span>
                    <span></span>
            </div>
            <h3>Mas</h3>
        </a>
    </div>
</div>