<body>
    <div  class="alert"></div>
<div class="contains">
    <div class="banner">
        <div class="bannerSon phonewhite">
            <img class="imgFondo" src="https://i.blogs.es/78aebc/instagram/1366_2000.jpg" alt="imagen foto celular blanco">
        </div>
        <div class="bannerSon phoneblack">
            <img class="imgFondo img-intagram-1" src="../../../assets/img-intagram-1.png" alt="imagen foto celular black"> -->
            <img class="imgFondo img-intagram-2" src="../../../assets/img-intagram-2.png" alt="imagen foto celular black">
            <img class="imgFondo img-intagram-3" src="../../../assets/img-intagram-3.png" alt="imagen foto celular black">
        </div>   
    </div>
    <div class="containsForm">
        <form action="" method="post">
            <h1>Instagram</h1>
            <main>
                <label>
                    <span class="username">Phone,Username/Email</span>
                    <input class="input" aria-label="Phone,Username/Email" type="text" name="username" id="username" required >
                </label>
                <label>
                    <span class="password">password</span>
                    <input class="input1" type="password" name="" id="password" required >
                </label>
                <button type="submit" disabled>Log in</button>
                <span class="lineleft"></span><span class="lineright"></span>

            </main>
            <div class="links">
                <div class="divfacebook"><img src="../../../assets/foto-facebooklogo.png" alt=""><a href="">Log in with Facebook</a></div>
                <a class="forgotPassword" href="#">Forgot password?</a>
                
            </div>
          
        </form>
        <div class="register"><span>Don't have an account?</span><a href="#">Sign up</a></div>
        <div class="app">
            <h4>Get the app.</h4>
            <div class="box">
            <div class="downloand">
                <a href=""><img src="../../../assets/foto-googleplay.png" alt="google play"></a>
            </div>
            <div class="downloand">
                <a href=""><img src="../../../assets/foto-microsoft.png" alt="microsoft"></a>
            </div>
        </div>
        </div>
    </div>

</div>
<footer>
    <div class="links">
        <ul>
            <li><a href="">Meta</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">API</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Top Accounts</a></li>
            <li><a href="">Locations</a></li>
            <li><a href="">Instagram Lite</a></li>
            <li><a href="">Contact Uploading & Non-Users</a></li>
            <li><a href="">Meta Verified</a></li>
        </ul>
        <div class="copyright">
            <span>English</span>
        </div>
    </div>
</footer>
</body>