<div class="contains">
    <div class="banner">
        <div class="bannerSon phonewhite">
            <img class="imgFondo" src="https://i.blogs.es/78aebc/instagram/1366_2000.jpg" alt="imagen foto celular blanco">
        </div>
        <div class="bannerSon phoneblack">
            <img class="imgFondo img-intagram-1" src="../../../assets/img-intagram-1.png" alt="imagen foto celular black"> -->
            <img class="imgFondo img-intagram-2" src="../../../assets/img-intagram-2.png" alt="imagen foto celular black">
            <img class="imgFondo img-intagram-3" src="../../../assets/img-intagram-3.png" alt="imagen foto celular black">
        </div>   
    </div>
    <div class="containsForm">
        <form action="" method="post">
            <h1>Instagram</h1>
            <main>
                <input type="text" name="username" id="username" placeholder="Phone,Username/Email">
                <input type="password" name="" id="password" placeholder="password">
                <button type="submit">Login</button>
                <span class="lineleft"></span><span class="lineright"></span>

            </main>
            <div class="links">
                <div class="divfacebook"><a href="">Iniciar sesion con Facebook</a></div>
                <a href="#">Did you forget your password?</a>
                
            </div>
          
        </form>
        <div class="register"><span>You do not have an account?</span><a href="#">Register</a></div>
        <div class="app">
            <h4>Descarga la aplicacion</h4>
            <div class="downloand">
                <a href=""><img src="" alt="google play"></a>
            </div>
            <div class="downloand">
                <a href=""><img src="" alt="microsoft"></a>
            </div>
        </div>
    </div>
</div>
