
*{
    padding: 0;
    margin: 0;
}
.container{
    position: absolute;
    width: 25%;
    height: auto;
    left: 75%;
    top: 5%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .perfil{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, 20% 60% 5%);
    grid-row: 30px;
}
.container .sugerencia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container .sugerencia .sugerenciaVerMas{
    background-color: rgb(39, 141, 107);
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}