<div class="container">
    <div class="perfil">
        <div class="perfilImg"><img src="" alt="foto perfil"></div>
        <div class="username">
            <h3>Admin.Example</h3>
            <sub>Nombre Apellido</sub>
        </div>
        <a href="">Cambiar</a>
    </div>
    <div class="sugerencia">
        <div class="sugerenciaVerMas">
            <h4>Sugerencias para ti</h4>
            <a href=""><button>Ver todo</button></a>
        </div>
        <div class="sugerenciaPerfiles">
            <div class="sugerenciaPerfil1">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <sub>sigue a fulano.......</sub>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil2">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <sub>sigue a fulano.......</sub>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil3">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <sub>sigue a fulano.......</sub>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil4">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <sub>sigue a fulano.......</sub>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil5">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <sub>sigue a fulano.......</sub>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil6">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <sub>sigue a fulano.......</sub>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="perfilImg"><img src="" alt="foto perfil"></div>
            <div class="username">
                <h3>Admin.Example</h3>
                <sub>sigue a fulano.......</sub>
            </div>
            <a href="">Seguir</a>
        </div>
    </div>
    <div class="info">
        <ul>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
            <li>informacion</li>
        </ul>
        <span>@ copyrigth de meta</span>
    </div>
</div>