<div class="container">
    <div class="perfil">
        <div class="perfilImg"><img src="" alt="foto perfil"></div>
        <div class="username">
            <h3>Admin.Example</h3>
            <h4>Nombre Apellido</h4>
        </div>
        <a href="">Cambiar</a>
    </div>
    <div class="sugerencia">
        <div class="sugerenciaVerMas">
            <h4>Sugerencias para ti</h4>
            <a href=""><button>Ver todo</button></a>
        </div>
        <div class="sugerenciaPerfiles">
            <div class="sugerenciaPerfil">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <h4>sigue a fulano.......</h4>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <h4>sigue a fulano.......</h4>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <h4>sigue a fulano.......</h4>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <h4>sigue a fulano.......</h4>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <h4>sigue a fulano.......</h4>
                </div>
                <a href="">Seguir</a>
            </div>
            <div class="sugerenciaPerfil">
                <div class="perfilImg"><img src="" alt="foto perfil"></div>
                <div class="username">
                    <h3>Admin.Example</h3>
                    <h4>sigue a fulano.......</h4>
                </div>
                <a href="">Seguir</a>
            </div>
        </div>
    </div>
    <div class="info">
        <ul>
            <li>informacion</li>
            <li>Ayuda</li>
            <li>Prensa</li>
            <li>API</li>
            <li>Empleo</li>
            <li>Privacidad</li>
            <li>Condiciones</li>
            <li>Ubicaciones</li>
            <li>Idioma</li>
            <li>Meta Verifield</li>
        </ul>
        <span>@ 2023 INSTAGRAM FROM META</span>
    </div>
</div>